@import "tailwindcss";
@theme{
  --color-border-color:#dbe1eb;
  --color-text-green:#1cab55;
  --color-des-text:#9d9d9e;
  --color-text-sec:#374151;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
